*.column-left{
    flex-direction: column;
    border:blue;
}
*.project-box{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 50px;
    border: blue;
}

.project1{
    background-image: url(./pictures/ocean.jpg);
}

.projec21{
    background-image: url(./pictures/puzzle.jpg);
}

.project3{
    background-image: url(./pictures/download.jpg);
}

.project4{
    background-image: url(./pictures/runner.jpg);
}

.project5{
    background-image: url(./pictures/calculator-1470.jpg);
}


