*.column-left{
    flex-direction: column;
    border:blue;
}
*.project-box{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 50px;
    border: blue;
}
/* .ocean{
    background-image: url("../firstPortfolio/pictures/ocean.jpg");
    background-size: cover;
    display: block;
    height: 200px;
    margin-bottom: 20px;
    position: relative;

  }*/
  /*When you need opposite hover effect create the background image then color box color